@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Calistoga:regular&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrow:before {
  content: ""
}
._icon-arrow-down:before {
  content: ""
}
._icon-arrow-left:before {
  content: "";
  color: #f7eae3
}
._icon-feature:before {
  content: ""
}
._icon-logo:before {
  content: ""
}
._icon-play:before {
  content: ""
}
._icon-s-facebook:before {
  content: ""
}
._icon-s-instagram:before {
  content: ""
}
._icon-s-x:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #42454a;
  line-height: 1;
  font-family: Ubuntu;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Ubuntu;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fff;
  font-weight: 400
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  transition: opacity .3s;
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 3.125rem 1fr minmax(auto,0) 1fr 3.125rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #eee
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center
}
.circle__play {
  position: absolute
}
.circle__text {
  pointer-events: none;
  height: 5rem;
  width: 5rem;
  position: relative;
  -webkit-animation: effect 20s linear infinite;
  animation: effect 20s linear infinite
}
@-webkit-keyframes effect {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes effect {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.circle__text span {
  position: absolute;
  left: 50%;
  font-size: .75rem;
  color: #718176;
  -webkit-transform-origin: 0 2.5rem;
  transform-origin: 0 2.5rem;
  text-transform: uppercase;
  font-weight: 500
}
.button {
  background-color: #42454a;
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 1.625rem;
  -webkit-padding-before: .875rem;
  padding-block-start: .875rem;
  -webkit-padding-after: 1.125rem;
  padding-block-end: 1.125rem;
  color: #fff;
  font-weight: 400;
  font-size: .875rem;
  transition: background-color .3s,color .3s,outline .3s
}
.button--transperent {
  background-color: rgba(0,0,0,0);
  color: #42454a
}
.title {
  color: #42454a;
  text-align: center;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.2
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all .5s ease;
  background-color: #fff
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.menu__body {
  font-size: .875rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2
}
.menu__logo {
  position: relative;
  z-index: 5
}
.menu__logo img {
  flex-shrink: 0
}
.menu__list {
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: .3125rem
}
.menu__link {
  border-radius: .25rem;
  transition: background-color .5s,border-radius .5s,color .5s
}
.spoller-menu__block {
  position: relative
}
.spoller-menu__title {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  justify-content: flex-end;
  overflow-wrap: break-word;
  border-radius: .25rem;
  color: #42454a;
  transition: background-color .5s,border-radius .5s,color .5s
}
.spoller-menu__title::-webkit-details-marker,
.spoller-menu__title::marker {
  display: none
}
._spoller-init .spoller-menu__title::before {
  font-size: .2671875rem;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
.spoller-menu__title._spoller-active::before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.spoller-menu__list {
  width: 100%;
  border-radius: .25rem
}
.spoller-menu__item:not(:last-child) {
  margin-bottom: .9375rem
}
.spoller-menu__link {
  color: #fff;
  line-height: 1.1;
  transition: text-decoration-line .3s
}
.actions-btn {
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  position: relative;
  z-index: 5
}
.hero {
  -webkit-padding-before: 2.125rem;
  padding-block-start: 2.125rem
}
.hero__body {
  display: flex;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  justify-content: space-between
}
.hero__content {
  flex: 0 1 100%
}
.hero__slider {
  flex: 0 1 100%;
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(100%,0);
  transform: translate(100%,0)
}
.hero__slider._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1.5s .5s
}
.hero__slider::before {
  content: "";
  background: url(../img/hero/hero-bg.webp) center right no-repeat;
  position: absolute;
  top: 4.375rem;
  right: 0;
  width: 66.92%;
  height: 34.875rem;
  background-size: contain
}
.hero__slide {
  display: inline-flex;
  flex-direction: column-reverse;
  align-items: flex-end
}
.hero__link {
  -webkit-padding-end: 2.5rem;
  padding-inline-end: 2.5rem
}
.hero__link img {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 762/619;
  -o-object-fit: contain;
  object-fit: contain
}
.button-slider {
  display: inline-flex;
  align-items: center;
  -webkit-column-gap: 2.3125rem;
  -moz-column-gap: 2.3125rem;
  column-gap: 2.3125rem
}
.button-slider__number {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: .09375rem #8b938d;
  font-family: Calistoga;
  font-weight: 400;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 1;
  text-align: right;
  min-width: 9.375rem;
  flex-shrink: 0;
  -webkit-animation: bounce 5s ease infinite;
  animation: bounce 5s ease infinite
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(-.125rem);
    transform: translateY(-.125rem)
  }
}
@keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  50% {
    -webkit-transform: translateY(-.125rem);
    transform: translateY(-.125rem)
  }
}
.button-slider__wrapper {
  outline: .071875rem solid #42454a;
  display: inline-flex;
  justify-content: flex-end;
  border-radius: 10rem;
  align-items: flex-end;
  opacity: .0025rem;
  position: relative;
  z-index: 1;
  overflow: hidden
}
.button-slider__hero-swiper-button-next,
.button-slider__hero-swiper-button-prev {
  padding-block: .75rem;
  padding-inline: 1rem;
  font-size: .625rem;
  align-self: center;
  transition: background-color .3s,color .3s
}
.button-slider__hero-swiper-button-next {
  text-align: center;
  border-left: .071875rem solid #42454a
}
.button-slider__hero-swiper-button-next::before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.content-hero__title {
  line-height: 1.05;
  letter-spacing: .05625rem;
  text-transform: uppercase;
  text-align: left;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.content-hero__title._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1s .3s
}
.content-hero__title span {
  font-weight: 300
}
.actions-hero__text {
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  color: #42454a;
  line-height: 1.54;
  letter-spacing: .01375rem;
  opacity: 0;
  -webkit-transform: translate(-100%,0);
  transform: translate(-100%,0)
}
.actions-hero__text._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1s .3s
}
.actions-hero__text::before {
  content: "";
  border-top: .25rem solid #42454a;
  width: 94%
}
.hero-footer {
  display: inline-flex
}
.now-hero {
  display: flex;
  align-items: center;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.now-hero._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1s .4s
}
.now-hero__icon {
  display: flex;
  align-items: center;
  inline-size: 3.625rem;
  block-size: 3.625rem;
  flex-shrink: 0;
  background-color: #42454a;
  transition: border-top-left-radius .5s ease,border-bottom-left-radius .5s ease
}
.now-hero__button {
  -webkit-padding-start: 1.375rem;
  padding-inline-start: 1.375rem;
  -webkit-padding-end: 1.375rem;
  padding-inline-end: 1.375rem;
  display: inline-flex;
  color: #17181a;
  font-weight: 500;
  block-size: 3.625rem;
  line-height: 1.6;
  letter-spacing: .025rem;
  position: relative;
  align-items: center;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
  transition: color .5s ease,border-top-right-radius .5s ease,border-bottom-right-radius .5s ease
}
.now-hero__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: #42454a;
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease;
  z-index: -1
}
.works-hero {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.3125rem;
  -moz-column-gap: 1.3125rem;
  column-gap: 1.3125rem
}
.works-hero__subtext {
  color: #414449;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: .01125rem;
  max-inline-size: 5.5rem;
  opacity: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.works-hero__subtext._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  transition: all 1s .3s
}
.works-hero__circle {
  opacity: 0;
  scale: 0;
  -webkit-transform: translate(0,20%);
  transform: translate(0,20%)
}
.works-hero__circle._watcher-view {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
  scale: 1;
  transition: all 1s .3s
}
.features-hero {
  -webkit-padding-before: 1.75rem;
  padding-block-start: 1.75rem;
  -webkit-padding-after: 2rem;
  padding-block-end: 2rem;
  padding-inline: 1.625rem
}
.features-hero__wrapper {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: .625rem
}
.features-hero__card {
  display: inline-flex;
  flex: 0 0 auto;
  width: auto;
  flex-direction: column;
  row-gap: 1.125rem;
  align-items: center
}
.features-hero__descr {
  display: flex;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  color: #42454a;
  font-size: 2.5rem;
  font-weight: 700;
  align-items: baseline
}
.features-hero__descr span {
  font-size: 1.125rem
}
.features-hero__text {
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.3
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
  flex-grow: 0
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .header._header-scroll {
    -webkit-padding-before: .625rem;
    padding-block-start: .625rem;
    -webkit-padding-after: .625rem;
    padding-block-end: .625rem
  }
  .menu__body {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .menu__link {
    padding-inline: .3125rem;
    padding-block: .3125rem
  }
  .spoller-menu__title {
    padding-inline: .3125rem;
    padding-block: .3125rem
  }
  .spoller-menu__list {
    text-align: left;
    position: absolute;
    top: 110%;
    left: 0;
    padding-block: .3125rem;
    padding-inline: .4375rem;
    background-color: #42454a
  }
}
@media (min-width:61.99875em) {
  .hero__content {
    flex-basis: 39.4375rem;
    -webkit-padding-before: 3.3125rem;
    padding-block-start: 3.3125rem
  }
  .hero__slider {
    flex-basis: 47.625rem
  }
  .button-slider {
    -webkit-padding-end: 3.125rem;
    padding-inline-end: 3.125rem
  }
  .actions-hero__text {
    max-width: 22.0625rem
  }
}
@media (min-width:84.375em) {
  .hero__link {
    block-size: 38.6875rem
  }
  .hero-footer {
    -webkit-column-gap: 3.625rem;
    -moz-column-gap: 3.625rem;
    column-gap: 3.625rem
  }
}
@media (min-width:90em) {
  [class*=__container] {
    padding-left: 3.125rem
  }
  [class*=__container] {
    padding-right: 3.125rem
  }
  .header {
    -webkit-padding-before: 1.6875rem;
    padding-block-start: 1.6875rem
  }
  .header {
    -webkit-padding-after: 1.6875rem;
    padding-block-end: 1.6875rem
  }
  .menu__logo img {
    inline-size: 4.3125rem
  }
  .menu__logo img {
    block-size: 2.9375rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    padding-inline: 1.625rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-before: .875rem;
    padding-block-start: .875rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-after: 1.125rem;
    padding-block-end: 1.125rem
  }
  .hero {
    -webkit-padding-start: 2.8125rem;
    padding-inline-start: 2.8125rem
  }
  .hero {
    -webkit-padding-end: 2.8125rem;
    padding-inline-end: 2.8125rem
  }
  .hero__slider {
    -webkit-margin-end: -2.8125rem;
    margin-inline-end: -2.8125rem
  }
  .button-slider__number {
    font-size: 9.375rem
  }
  .content-hero__title:not(:last-child) {
    margin-bottom: 5.8125rem
  }
  .content-hero__title {
    font-size: 5.625rem
  }
  .actions-hero__text:not(:last-child) {
    margin-bottom: 3.875rem
  }
  .actions-hero__text::before {
    padding-top: 3.875rem
  }
}
@media (max-width:62em) {
  .hero__link {
    block-size: 33.75rem
  }
  .hero-footer {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (max-width:40em) {
  .menu__body {
    padding: 6.875rem .9375rem .9375rem 1.875rem
  }
}
@media (max-width:20em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .header {
    -webkit-padding-before: .9375rem;
    padding-block-start: .9375rem
  }
  .header {
    -webkit-padding-after: .9375rem;
    padding-block-end: .9375rem
  }
  .menu__logo img {
    inline-size: 3.0625rem
  }
  .menu__logo img {
    block-size: 2.3125rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    padding-inline: .9375rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-before: .625rem;
    padding-block-start: .625rem
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-after: .75rem;
    padding-block-end: .75rem
  }
  .hero {
    -webkit-padding-start: .9375rem;
    padding-inline-start: .9375rem
  }
  .hero {
    -webkit-padding-end: .9375rem;
    padding-inline-end: .9375rem
  }
  .hero__slider {
    -webkit-margin-end: -.9375rem;
    margin-inline-end: -.9375rem
  }
  .button-slider__number {
    font-size: 4.375rem
  }
  .content-hero__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .content-hero__title {
    font-size: 2.5rem
  }
  .actions-hero__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .actions-hero__text::before {
    padding-top: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .hero__body {
    justify-content: center;
    flex-direction: column;
    row-gap: 1.875rem
  }
  .hero__slider {
    align-items: center;
    row-gap: .3125rem
  }
  .hero__slider::before {
    height: 64.92lvw;
    width: 66.92lvw
  }
  .hero__link {
    block-size: 75vw;
    -webkit-padding-end: .9375rem;
    padding-inline-end: .9375rem
  }
  .button-slider {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .button-slider__hero-swiper-button-next,
  .button-slider__hero-swiper-button-prev {
    padding-block: .375rem;
    padding-inline: .5625rem
  }
  .content-hero__title {
    text-align: center
  }
  .actions-hero__text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.125rem
  }
  .hero-footer {
    display: flex;
    justify-content: space-between
  }
  .now-hero__icon {
    inline-size: 3rem;
    block-size: 3rem;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
  }
  .now-hero__icon._icon-arrow-left:before {
    font-size: .9375rem
  }
  .now-hero__button {
    block-size: 3rem;
    font-size: .9375rem;
    background-color: #42454a;
    color: #f7eae3;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 8.125rem .9375rem 1.875rem .9375rem;
    transition: left .3s;
    background-color: #42454a
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #fff
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #42454a
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #000
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__body {
    color: #fff
  }
  .menu__logo {
    flex-grow: 1
  }
  .menu__list {
    flex-direction: column;
    font-size: 1.875rem;
    row-gap: .9375rem
  }
  .spoller-menu__title {
    color: #fff
  }
  ._spoller-init .spoller-menu__title::before {
    font-size: 1rem
  }
  .spoller-menu__list {
    -webkit-padding-before: .9375rem;
    padding-block-start: .9375rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .circle__text span {
    font-size: .625rem
  }
  .hero__slider::before {
    top: 2.5rem
  }
  .hero-footer {
    flex-direction: column-reverse;
    row-gap: 1.875rem
  }
  .now-hero__icon {
    display: none
  }
  .now-hero__button {
    inline-size: 100%;
    justify-content: center;
    border-radius: .25rem
  }
  .works-hero {
    justify-content: space-between
  }
  .works-hero__subtext {
    font-size: .9375rem
  }
}
@media (min-width:20em)and (max-width:90em) {
  [class*=__container] {
    padding-left: clamp(.9375rem ,.3125rem + 3.125vw ,3.125rem)
  }
  [class*=__container] {
    padding-right: clamp(.9375rem ,.3125rem + 3.125vw ,3.125rem)
  }
  .header {
    -webkit-padding-before: clamp(.9375rem ,.7232142857rem + 1.0714285714vw ,1.6875rem);
    padding-block-start: clamp(.9375rem ,.7232142857rem + 1.0714285714vw ,1.6875rem)
  }
  .header {
    -webkit-padding-after: clamp(.9375rem ,.7232142857rem + 1.0714285714vw ,1.6875rem);
    padding-block-end: clamp(.9375rem ,.7232142857rem + 1.0714285714vw ,1.6875rem)
  }
  .menu__logo img {
    inline-size: clamp(3.0625rem ,2.7053571429rem + 1.7857142857vw ,4.3125rem)
  }
  .menu__logo img {
    block-size: clamp(2.3125rem ,2.1339285714rem + .8928571429vw ,2.9375rem)
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    padding-inline: clamp(.9375rem ,.7410714286rem + .9821428571vw ,1.625rem)
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-before: clamp(.625rem ,.5535714286rem + .3571428571vw ,.875rem);
    padding-block-start: clamp(.625rem ,.5535714286rem + .3571428571vw ,.875rem)
  }
  .actions-btn__button-log,
  .actions-btn__button-sign {
    -webkit-padding-after: clamp(.75rem ,.6428571429rem + .5357142857vw ,1.125rem);
    padding-block-end: clamp(.75rem ,.6428571429rem + .5357142857vw ,1.125rem)
  }
  .hero {
    -webkit-padding-start: clamp(.9375rem ,.4017857143rem + 2.6785714286vw ,2.8125rem);
    padding-inline-start: clamp(.9375rem ,.4017857143rem + 2.6785714286vw ,2.8125rem)
  }
  .hero {
    -webkit-padding-end: clamp(.9375rem ,.4017857143rem + 2.6785714286vw ,2.8125rem);
    padding-inline-end: clamp(.9375rem ,.4017857143rem + 2.6785714286vw ,2.8125rem)
  }
  .hero__slider {
    -webkit-margin-end: clamp(-2.8125rem ,-.4017857143rem + -2.6785714286vw ,-.9375rem);
    margin-inline-end: clamp(-2.8125rem ,-.4017857143rem + -2.6785714286vw ,-.9375rem)
  }
  .button-slider__number {
    font-size: clamp(4.375rem ,2.9464285714rem + 7.1428571429vw ,9.375rem)
  }
  .content-hero__title:not(:last-child) {
    margin-bottom: clamp(1.875rem ,.75rem + 5.625vw ,5.8125rem)
  }
  .content-hero__title {
    font-size: clamp(2.5rem ,1.6071428571rem + 4.4642857143vw ,5.625rem)
  }
  .actions-hero__text:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.3035714286rem + 2.8571428571vw ,3.875rem)
  }
  .actions-hero__text::before {
    padding-top: clamp(1.875rem ,1.3035714286rem + 2.8571428571vw ,3.875rem)
  }
}
@media (min-width:62em)and (max-width:84.375em) {
  .hero__link {
    block-size: clamp(33.75rem ,20.0684357542rem + 22.0670391061vw ,38.6875rem)
  }
  .hero-footer {
    -webkit-column-gap: clamp(.9375rem ,-6.5094273743rem + 12.0111731844vw ,3.625rem);
    -moz-column-gap: clamp(.9375rem ,-6.5094273743rem + 12.0111731844vw ,3.625rem);
    column-gap: clamp(.9375rem ,-6.5094273743rem + 12.0111731844vw ,3.625rem)
  }
}
@media (any-hover:hover) {
  .circle:hover * {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
  .button:hover {
    background-color: rgba(0,0,0,0);
    color: #42454a;
    outline: 1px solid #42454a
  }
  .button--transperent:hover {
    background-color: #42454a;
    color: #fff
  }
  .menu__link:hover {
    background-color: #42454a;
    color: #fff;
    border-radius: .25rem
  }
  .spoller-menu__title:hover {
    background-color: #42454a;
    color: #fff;
    border-radius: .25rem
  }
  .spoller-menu__link:hover {
    text-decoration-line: underline
  }
  .button-slider__hero-swiper-button-next:hover,
  .button-slider__hero-swiper-button-prev:hover {
    background-color: #42454a;
    color: #fff
  }
  .now-hero:hover>.now-hero__button::before {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  .now-hero:hover>.now-hero__button {
    color: #f7eae3
  }
  .now-hero:hover .now-hero__icon {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    cursor: pointer
  }
  .now-hero:hover .now-hero__button {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
  }
}