@font-face {
    font-family: 'AmstelvarAlpha Default';
    src: url('AmstelvarAlpha-Default.woff2') format('woff2'),
        url('AmstelvarAlpha-Default.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
