/* Локальне підключення шрифтів */
@import url("fonts.css");


/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "ProximaNova", sans-serif;
	color: #2B2929;
	background-color: #f8f8f8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------- */
[class*="__container"] {
	max-width: 1320px;
	padding: 15px;
	margin: 0 auto;
}

/* ------------------------------------ */

.popular {
	
}
.popular__container {
}
.popular__title {
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2; 
	column-gap: 30px;
	flex-wrap: wrap;
	row-gap: 5px;
	text-align: center;
}
.popular__title:not(:last-child) {
	margin-bottom: 40px;
}
@media (max-width: 652.98px){
	  .popular__title {
		justify-content: center;
		font-size: 30px;
	  }
}
.popular__title a {
	display: flex;
	color: #FFBC57;
	font-size: 19px;
	line-height: 1.26;
	column-gap: 10px;
	transition: color 0.3s, text-decoration 0.3s, text-decoration-skip-ink 0.3s;
}
@media (any-hover: hover){
	.popular__title a:hover {
		color: #ed930c;
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}
}
.popular__title a::after {
	content: "";
	background: url('../img/arrow.svg') center no-repeat;
	width: 24px;
	height: 24px;
}

.popular__items {
	display: grid;
	/* grid-template-rows: repeat(2, 1fr); */
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: space-between;
	column-gap: 30px;
	row-gap: 30px;
}

.item-popular {

}
.item-popular__card {
	padding: 20px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
	transition: transform 0.3s, box-shadow 0.3s;
	cursor: pointer;
}
@media (any-hover: hover){
	.item-popular__card:hover .item-popular__content .item-popular__image {
		transform: translateY(-15px);
	}
	.item-popular__card:hover {
		box-shadow: 3px 2px 5px 6px #ed930c;
	}
}

.item-popular__content {
	/* row-gap: 20px; */
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-popular__content > * {
    margin-bottom: 20px;
}
.item-popular__content > *:last-child {
    margin-bottom: 0;
}
.item-popular__image {
	border-radius: 8px;
	
}
.item-popular__image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
	aspect-ratio: 260 / 220;
}
.item-popular__info {
	display: flex;
	flex-direction: column;
	font-size: 13px;
    font-weight: 300;
	flex-grow: 1;
	margin-bottom: 10px;
	row-gap: 10px;
}

.item-popular__descr {
}
.item-popular__title {
	font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
	transition: color 0.3s;
}
@media (any-hover: hover){
	.item-popular__title:hover {
		color: #ed930c;
	}
}
.item-popular__label {
	display: flex;
	align-items: center;
	column-gap: 5px;
}
.item-popular__label::before {
	content: "";
	background: url('../img/popular/check.svg') 0 0  no-repeat;
	height: 24px;
	width: 24px;
}
.item-popular__price {
	
}
.price-item-popular {
	display: flex;
	column-gap: 46px;
	align-items: center;
}
.price-item-popular__content {
	display: flex;
	flex-direction: column;
}
.price-item-popular__old {
	color: #E03D3D;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.46;
	text-decoration: line-through;
}
.price-item-popular__now {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.price-item-popular__icons {
	display: flex;
	column-gap: 10px;
}
.price-item-popular__icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: transparent;
	transition: background-color 0.3s;
}
.price-item-popular__icon--orange {
	background-color: #ffbc57;
}

@media (any-hover: hover){
	.price-item-popular__icon:hover {
		background-color: #e4dada;
	}
	.price-item-popular__icon.price-item-popular__icon--orange:hover {
		background-color: #ed930c;
	}
}

/* ======================================================================= */

.dress {
	font-family: "Integral CF";
	font-weight: 600;
	background-color: #ffffff;
	
}
.dress__container {
	background-color:#f0f0f0;
	border-radius: 40px;
	max-width: 1270px;
	padding: 70px 64px;
	margin: 0 auto;
}
.dress__title {
	font-size: 48px;
}

.dress__title:not(:last-child) {
	margin-bottom: 64px;
}

.dress__items {
	display: grid;
	row-gap: 20px;
	column-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}



.item-dress {
}
.item-dress__card {
	transition: transform 0.3s, box-shadow 0.3s;
}

@media (any-hover: hover){
	.item-dress__card:hover {
		transform: scale(1.02);
		box-shadow: 1px 1px 3px 4px #31344F;
	}
}

.item-dress__body {
	position: relative;
	height: 100%;
}
.item-dress__image {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
	aspect-ratio: 407 / 289;
	max-height: 289px;
}
.item-dress__text {
	font-family: 'Satoshi';
	font-size: 36px;
	position: absolute;
	top: 25px;
	left: 36px;
}

@media (min-width: 989.98px){
	.item-dress__card:nth-child(2),
	.item-dress__card:nth-child(3) {
	grid-column: span 2;
}
}

@media (max-width: 989.98px){
	.dress__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.dress__container {
		padding: 30px 24px;
	  }
	.dress__title {
		text-align: center;
	}
}

@media (max-width: 702.98px){
	.dress__title {
		font-size: 32px;
		text-align: center;
	}
	.dress__title:not(:last-child) {
		margin-bottom: 34px;
	}
}
@media (max-width: 659.98px){
	.dress__items {
		grid-template-columns: 1fr;
	}

}
@media (max-width: 702.98px){ 
	.item-dress__text {
		font-size: 24px;
	}
}

