/* Підключення шрифтів локально замовчуванням шрифт*/
@import url("fonts.css"); 


/* обнулення стилів */
@import url("reset.css");

body {
    font-family: "Proxima Nova";
    color: #2B2929;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
    background-color: #f5f2f2;
    padding-bottom: 10px;
}

[class*="__container"] {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    color:#535353;
}

.header__container {
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    column-gap: 25px;
}
.header-top__menu {
}
.menu {
}
.menu__body {
}
.menu__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
}
.menu__item {
    transition: color 0.3s ease-in;
}
.menu__link {
    line-height: 1.875;
}
.header-top__social {
}
.social-header {
    display: flex;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
}


.social-header__text {
    line-height: 1.875;
}

.social-header__text:not(:last-child) {
    margin-right: 20px;
}
.social-header__icons {
    display: flex;
    column-gap: 10px;
}
.social-header__icons:not(:last-child) {
    margin-right: 30px;
}


.social-header__icon {
    flex: 0 0 30px;
    transition: transform 0.3s ease-in;
}
.social-header__language {
    display: flex;
    align-items:center;
    align-self:center;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    text-transform: uppercase;
}

.social-header__language::after {
    content: "";
    background: url('../img/header-icons/arrow.svg') 0 0 no-repeat;
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in;
}
/* \\\\\\\\\\\////////////////\\header-middle /////////////\/\/\////*/
.header-middle {
    display: flex;
    align-items:center;
    align-self: center;
    justify-content: space-between;
    padding: 25px 0;
    row-gap: 15px;
    column-gap: 30px;
}
.header-middle__logo {
    flex: 0 0 250px;
    transition: transform 0.3s ease-in;
}
.header-middle__logo img {
    width: 100%;
    max-height: 50px;
}
.header-middle__button {
    display: inline-flex;
    background-color: #FFBC57;
    padding: 11px 20px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    color: #FFF;
    border-radius: 8px;
    align-items: center;
    align-self:center;
    transition:  all  0.3s ease-in;
}

.header-middle__button::before {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../img/header-icons/menu-catalog.svg') 0 0 no-repeat;
    margin-right: 10px;
}

.header-middle__search {
    flex: 0 1 421px;
    border: 1px solid #B1B1B1;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.header-middle__label-search {
    display: flex;
    padding: 10px 15px;
    column-gap: 5px;
}
.header-middle__input-search {
    outline: none;
}
.header-middle__button-search {
    flex: 0 1 24px;
    transition: transform 0.3s ease;
}
.header-middle__button-search img{
    width: 100%;
}


.header-middle__telefon {
}
.telefon-header {
    display: flex;
    column-gap: 10px;
    align-items:center;
}

.telefon-header::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url('../img/header-icons/arrow.svg') 0 0 no-repeat;
    display: flex;
    align-self: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.telefon-header__icon {
    flex-basis: 50px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}
.telefon-header__icon img{
    width: 100%;
}
.telefon-header__numbers {
}
.number-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.number-header__text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
}
.number-header__phone {
    color: #2B2929;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    transition: color 0.3s ease;
}
.header-middle__icons {
}
.icon-middle {
    display: flex;
    column-gap: 20px;
}
.icon-middle__item {
    flex-basis: 50px;
    transition: transform 0.3s ease;
}
.icon-middle__item img {
    width: 100%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\ header-bottom/////\\\\\\\\\\\\\//// */

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 18px 0;
    column-gap: 20px;
}
.header-bottom__left {

}
.left-menu {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
    flex-shrink: 0;
    justify-content: flex-start;
}
.left-menu__item {
    transition: color 0.3s ease-in;
}


.left-menu__link {
    display: flex;
    align-items:center;
    column-gap: 5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
}

.left-menu__link img {
    flex: 0 0 24px;

}
.header-bottom__right {
}
.right-menu {
    display: flex;
    column-gap: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: flex-start;
}
.right-menu__item {
   transition: color 0.3s ease-in;
}

.right-menu__link {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
}

@media (max-width: 1199.98px){
    .number-header {
        display: none;
    }
    /* .social-header__text {
        display: none;
    } */
    .telefon-header::after {
        display: none;
    }
    .header-top {
        column-gap: 10px;
    }
}

/* @media (max-width: 1003.98px){
    .social-header {
        justify-content: flex-end;
    }
} */

@media (max-width: 991.98px) {
    .header-middle__search {
        flex: 0 1 170px;
        
    }
    .header-middle__label-search {
        padding: 14px 5px;
}
    .header-middle__button-search {
        display: none;
    }
    .header-middle {
        column-gap: 20px;
    }
    .header-top {
        flex-direction: column;
        row-gap: 10px;  
    }
}

@media (max-width: 787.98px) {
    .header-middle__search {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .header-middle__button {
       width: 50%; 
       justify-content: center;
    }
    .telefon-header {
        display: none;
    }
    .icon-middle__item {
        flex-shrink: 1;
    }
    .header-middle {
        column-gap: 10px;
    }
    .header-middle__logo {
        flex-shrink: 1;
    }
    .menu__list {
        column-gap: 15px;
        justify-content: space-evenly;
    }
    .right-menu {
        display: none;
    }
    .left-menu {
        justify-content: center;
    }
    .header-bottom {
        justify-content: center;
    }
}

@media (max-width: 479.98px) {
    .header-middle__logo {
       flex-basis: 0;
    }
    .header-middle {
        flex-direction: column;
    }
    .telefon-header {
        display: none;
    }
    .header-top__menu {
        display: none;
    }
    .social-header__language {
        display: none;
    }
    .social-header {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .icon-middle {
        display: none;
    }
    .header-middle__button {
       width: 100%; 
       justify-content: center;
    }
}

@media (any-hover: hover){
    .menu__item:hover {
        color: #FFBC57;
    }
    .social-header__icon:hover {
        transform: scale(1.02);
    }
    .social-header__language:hover:after {
        transform: rotate(180deg);
    }
    .header-middle__logo:hover {
        transform: scale(1.06);
    }
    .header-middle__button:hover {
        color:#2B2929;
        background-color: #ffbc57d3;
    }
    .header-middle__search:hover {
        border: 1px solid #FFBC57;
        box-shadow: 0px 10px 13px -7px #B1B1B1;
    }
    .header-middle__button-search:hover {
        transform: scale(0.9);
    }
    .telefon-header:hover::after {
        transform: rotate(180deg);
    }
    .telefon-header__icon:hover {
        transform: scale(1.01);
    }
    .number-header__phone:hover {
        color:#FFBC57;
    }
    .icon-middle__item:hover {
        transform: scale(0.9);
    }
    .left-menu__item:hover {
        color: #FFBC57;
    }
    .right-menu__item:hover {
        color: #FFBC57;
    }
}