@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Medium.woff2") format("woff2"), url("Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Bold.woff2") format("woff2"), url("Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Regular.woff2") format("woff2"), url("Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Integral CF";
  src: url("IntegralCF-Bold.eot");
  src: local("Integral CF Bold"), local("IntegralCF-Bold"), url("IntegralCF-Bold.eot?#iefix") format("embedded-opentype"), url("IntegralCF-Bold.woff2") format("woff2"), url("IntegralCF-Bold.woff") format("woff"), url("IntegralCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  color: #000;
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: #f2f0f1;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* ------------------------- */
[class*=__container] {
  max-width: 1295px;
  -webkit-padding-start: 0.9375rem;
          padding-inline-start: 0.9375rem;
  -webkit-padding-end: 0.9375rem;
          padding-inline-end: 0.9375rem;
  margin: 0 auto;
}

/* ------------------------ */
.page {
  padding: 50px;
}

/* ------------------------ */
.header {
  min-height: 6rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header-top {
  background-color: #000000;
  position: relative;
  z-index: 50;
}
.header-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-block-size: 2.375rem;
  position: relative;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  -webkit-padding-before: 0.5625rem;
          padding-block-start: 0.5625rem;
  -webkit-padding-after: 0.625rem;
          padding-block-end: 0.625rem;
}
@media (max-width: 47.99875em) {
  .header-top__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.header-top__text {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 400;
}
.header-top__link {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration-line: underline;
  -webkit-transition: color 0.3s, text-decoration-line 0.3s;
  transition: color 0.3s, text-decoration-line 0.3s;
  white-space: nowrap;
}
.header-top__link:not(:last-child) {
  -webkit-margin-end: 2.5rem;
          margin-inline-end: 2.5rem;
}
@media (any-hover: hover) {
  .header-top__link:hover {
    color: #FF3333;
    text-decoration-line: none;
  }
}
.header-top__button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 47.99875em) {
  .header-top__button {
    right: 0.625rem;
  }
}
.header-top__button img {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (any-hover: hover) {
  .header-top__button img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.header-bottom {
  background-color: #ffffff;
}
.header-bottom__menu {
  min-block-size: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 50em) {
  .header-bottom__menu {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }
}
@media (max-width: 23.4375em) {
  .header-bottom__menu {
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
  }
}
.header-bottom__logo {
  font-family: "Integral CF", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  z-index: 2;
}
@media (max-width: 37.49875em) {
  .header-bottom__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 23.4375em) {
  .header-bottom__logo {
    font-size: 1.5625rem;
  }
}
.menu-open body {
  overflow: hidden;
}

@media (max-width: 47.99875em) {
  .menu__body {
    block-size: 100%;
    inline-size: 100%;
    overflow: auto;
    -webkit-transition: right 0.5s, visibility 0.5s;
    transition: right 0.5s, visibility 0.5s;
    padding-block: 2.5rem 2.5rem;
    padding-inline: 3.125rem 3.125rem;
  }
  .menu__body--fixed {
    position: fixed;
    right: -100%;
    visibility: hidden;
    background-color: #d2d0d0;
    top: 8.375rem;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: calc(8.375rem);
    right: -100%;
    top: 0;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 10;
    background-color: #ffffff;
  }
  .menu-open .menu__body {
    right: 0;
    visibility: visible;
  }
  .menu-open .menu__body::before {
    right: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    font-size: 2.1875rem;
    text-align: center;
  }
}
.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  z-index: 2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 2;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF3333;
  }
}
.menu__link img {
  inline-size: 1rem;
  block-size: 1rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.arrow-menu {
  position: relative;
  z-index: 2;
}
@media (any-hover: hover) {
  .arrow-menu:hover img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (any-hover: hover) {
  .arrow-menu:hover .arrow-menu__list {
    opacity: 1;
    visibility: visible;
  }
}
.arrow-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  background-color: #f0efed;
  position: absolute;
  top: 100%;
  width: 100%;
  padding-block: 0.625rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: -1;
}
.arrow-menu__list::before {
  content: "";
  border-radius: 0.5rem;
  position: absolute;
  z-index: -1;
  width: calc(100% + 1.875rem);
  height: calc(100% + 1.25rem);
  top: -1.25rem;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  left: -0.625rem;
  background-color: #f0efed;
}
.arrow-menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .arrow-menu__link:hover {
    color: #FF3333;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-inline-size: 16.625rem;
  background-color: #f0f0f0;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  -webkit-padding-before: 0.75rem;
          padding-block-start: 0.75rem;
  -webkit-padding-after: 0.875rem;
          padding-block-end: 0.875rem;
  border-radius: 3.875rem;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  z-index: 5;
}
@media (max-width: 37.49875em) {
  .form-header {
    background-color: transparent;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-padding-start: 0rem;
            padding-inline-start: 0rem;
    -webkit-padding-end: 0rem;
            padding-inline-end: 0rem;
    -webkit-padding-before: 0rem;
            padding-block-start: 0rem;
    -webkit-padding-after: 0rem;
            padding-block-end: 0rem;
  }
}
@media (max-width: 47.99875em) {
  .form-header {
    min-inline-size: auto;
  }
}
@media (any-hover: hover) {
  .form-header:hover {
    background-color: #dfdbdb;
  }
  .form-header:hover:hover .form-header__button {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.form-header__button img {
  inline-size: 1.266875rem;
  block-size: 1.266875rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.form-header__input {
  outline: none;
  -webkit-padding-end: 0.625rem;
          padding-inline-end: 0.625rem;
  -webkit-padding-start: 0.3125rem;
          padding-inline-start: 0.3125rem;
}
@media (max-width: 37.49875em) {
  .form-header__input {
    display: none;
  }
}
.form-header__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-header__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-header__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-header__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.form-header__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 47.99875em) {
  .form-header__input::-webkit-input-placeholder {
    color: transparent;
  }
  .form-header__input::-moz-placeholder {
    color: transparent;
  }
  .form-header__input:-ms-input-placeholder {
    color: transparent;
  }
  .form-header__input::-ms-input-placeholder {
    color: transparent;
  }
  .form-header__input::placeholder {
    color: transparent;
  }
}
.form-header__input:focus {
  background-color: #dfdbdb;
  border-radius: 3.875rem;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 5;
}
.action__button img {
  inline-size: 1.265625rem;
  block-size: 1.265625rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .action__button img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.find {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
}
.find__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.375rem;
     -moz-column-gap: 3.375rem;
          column-gap: 3.375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 62.06125em) {
  .find__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }
}
.find__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.find__image-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  position: relative;
}
.find__image-body::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 9.18%;
  height: 9.03%;
  background: url("../img/find/star-smallsvg.svg") center/contain no-repeat;
}
.find__image-body::after {
  content: "";
  position: absolute;
  top: 2.75rem;
  right: 0;
  width: 17.04%;
  height: 16.77%;
  background: url("../img/find/star-big.svg") center/contain no-repeat;
}
.find__image-body img {
  width: 100%;
  height: 100%;
  aspect-ratio: 610/620;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: visible;
}
.content-find {
  -webkit-padding-before: 3.9375rem;
          padding-block-start: 3.9375rem;
}
@media (max-width: 47.99875em) {
  .content-find {
    text-align: center;
    -webkit-padding-before: 0rem;
            padding-block-start: 0rem;
  }
}
.content-find__title {
  font-family: "Integral CF", sans-serif;
  font-size: clamp(2rem, 1.273rem + 3.64vw, 4rem);
  font-weight: 800;
}
.content-find__title:not(last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 47.99875em) {
  .content-find__title:not(last-child) {
    margin-bottom: 1rem;
  }
}
.content-find__descr {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.375;
}
.content-find__descr:not(last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 47.99875em) {
  .content-find__descr:not(last-child) {
    margin-bottom: 1rem;
  }
}
.content-find__button {
  border-radius: 3.875rem;
  background-color: #000;
  -webkit-padding-before: 1rem;
          padding-block-start: 1rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
  -webkit-padding-start: 3.375rem;
          padding-inline-start: 3.375rem;
  -webkit-padding-end: 3.375rem;
          padding-inline-end: 3.375rem;
  color: #FFF;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.content-find__button:not(last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 47.99875em) {
  .content-find__button:not(last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 31.25em) {
  .content-find__button {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .content-find__button:hover {
    background-color: #FF3333;
  }
}
.brand-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: clamp(0.813rem, 0.381rem + 2.16vw, 2rem);
     -moz-column-gap: clamp(0.813rem, 0.381rem + 2.16vw, 2rem);
          column-gap: clamp(0.813rem, 0.381rem + 2.16vw, 2rem);
}
@media (max-width: 24.43625em) {
  .brand-find {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0.625rem;
  }
}
.brand-find__body:not(:last-child) {
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.1);
  -webkit-padding-end: clamp(0.813rem, 0.381rem + 2.16vw, 2rem);
          padding-inline-end: clamp(0.813rem, 0.381rem + 2.16vw, 2rem);
}
@media (max-width: 24.43625em) {
  .brand-find__body:nth-child(2) {
    border-right: none;
    -webkit-padding-end: 0rem;
            padding-inline-end: 0rem;
  }
}
.brand-find__number {
  color: #000;
  font-size: 2.5rem;
  font-weight: 700;
}
@media (max-width: 47.99875em) {
  .brand-find__number {
    font-size: 1.5rem;
  }
}
.brand-find__text {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.375;
  white-space: nowrap;
}
@media (max-width: 47.99875em) {
  .brand-find__text {
    font-size: 0.75rem;
  }
}

.bottom-find {
  background-color: #000000;
  -webkit-padding-before: 2.6875rem;
          padding-block-start: 2.6875rem;
  -webkit-padding-after: 2.6875rem;
          padding-block-end: 2.6875rem;
}
.bottom-find__brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .bottom-find__brands {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.bottom-find__item-brand img {
  width: 100%;
  height: 100%;
  aspect-ratio: 206.79/33.35;
}
@media (max-width: 47.99875em) {
  .bottom-find__item-brand img {
    width: 100%;
    height: 100%;
    aspect-ratio: 116.74/23.25;
  }
}