@use "sass:math";

// Підключення шрифтів з Google Fonts
// @import url("https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800&display=swap");
// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@import "_mixins.scss";

$mainColor: #FF3333;

// ==========================================================

body {
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: toRem(16);
	font-weight: 400;
	background-color: #f2f0f1;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------- */
[class*="__container"] {
	max-width: 1295px;
	padding-inline-start: toRem(15);
	padding-inline-end: toRem(15);
	margin: 0 auto;
}
/* ------------------------ */


.main {
	background: url('../img/js.jpeg') center / cover no-repeat;
		block-size: 100svh;
		overflow: auto;
}

.title {
		padding-block-start: toRem(40);
		font-size: toRem(35);
		font-weight: 900;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
}
.task-home {
	text-align: center;
	color:#FF3333;
	font-size: toRem(30);
	font-weight: 900;
}

.task-5 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: toRem(25);
}
.descr {
	margin-bottom: toRem(20);
	max-width: toRem(600);
	&:not(:last-child) {
		margin-bottom: toRem(25);
	}
}

.button {
	text-align: center;
	padding: toRem(15);
	background-color: red;
	min-width: toRem(100);
}

.link {
	display: flex;
	justify-content: center;
	padding-top: toRem(225);
	font-size: toRem(40);
	font-weight: 900;

}