@use "sass:math";

// Підключення шрифтів з Google Fonts
@import url("https://fonts.googleapis.com/css?family=Orbitron:500,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:regular,700,900&display=swap");
// Локальне підключення шрифтів
@import "_fonts.scss";
// Скидання стилів
@import "_reset.scss";
// Міксіни
@mixin backgroundAndboxshadovHover ($bgColor: #9803e7, $boxShadow: rgba(0, 0, 0, 0.353)) {
	background-color: $bgColor;
	box-shadow: $boxShadow;
}


// ==========================================================

body {
	background-color: #000001;
	color: #FFFFFF;
	font-family: "Exo", sans-serif;
	font-weight: 400;
}
.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------- */
[class*="__container"] {
	max-width: 1310px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ------------------------ */

.header {
	padding-top: 70px;
	padding-bottom: 40px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: #000;
	@media (max-width: 767px){
		padding-top: 35px;
		padding-bottom: 15px;
	}
		// .header__container

		&__container {
			display: flex;
			column-gap: 30px;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 400px){
				column-gap: 20px;
			}
		}
		// .header__logo

		&__logo {
			font-size: 30px;
			font-style: normal;
			line-height: 1.5;
			z-index: 2;
			transition: transform 0.3s;
			@media (any-hover: hover){
				&:hover{
					transform: scale(1.01);
					cursor: pointer;
				}
			}
			@media (max-width: 767px){
				font-size: 20px;  
			}
		}

		// .header__menu

		&__menu {
	
		}

		// .header__social

		&__social {
		}

}
.menu {
	@media (max-width: 767px){
	&--fixed {
		position: fixed;
    	right: -100%;
    	visibility: hidden;
    	top: 0;
    	background-color: gray;
	}
		width: 100%;
    	height: 100%;
    	overflow: auto;
		padding: 180px 15px 70px 15px;
		transition: right 0.3s, visibility 0.3s;
	&::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100px;
		right: -100%;
		top: 0;
		transition: right 0.3s;
		z-index: 2;
		background-color: #000;
	}
	.menu-open & {
      right: 0;
      visibility: visible;
      &::before {
        right: 0;
      }
    }

	}

		&__icon {
			display: none;
		}
		@media (max-width: 767px) {
			&__icon {
				display: block;
				position: relative;
				width: 30px;
				height: 20px;
				flex-shrink: 0;
				z-index: 2;
				&::before,
				&::after,
				span {
					content: "";
					background-color: #fff;
					position: absolute;
					width: 100%;
					height: 2px;
					left: 0;
				}
				&::before {
					top: 0;
				}
				&::after {
					bottom: 0;
				}
				span {
					top: 50%;
					transform: translate(0px, -50%);
				}
				.menu-open &::before {
					transform: rotate(-45deg);
					top: 50%;
					margin-top: -1px;
				}
				.menu-open &::after {
					transform: rotate(45deg);
					bottom: 50%;
					margin-bottom: -1px;
				}
				.menu-open & span {
					transform: scale(0);
				}
			}

		}

		// .menu__body

		&__body {
			display: flex;
			column-gap: 30px;
			row-gap: 10px;
			flex-wrap: wrap;
			justify-content: center;
			@media (max-width: 767px){
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				row-gap: 20px;
			}
		}

		// .menu__list

		&__list {
			
		}

		// .menu__item

		&__item {
		
		}

		// .menu__link

		&__link {
			font-family: Orbitron;
			font-weight: 500px;
			text-transform: uppercase;
			line-height: 1.25;
			transition: background-color 0.3s, box-shadow 0.3s;
			@media (any-hover: hover){
				&:hover{
					@include backgroundAndboxshadovHover;
				}
			}
			@media (max-width: 767px ){
				  font-size: 35px;
			}
			@media (max-width: 400px){
				  font-size: 30px;
			}
		}

	}

.social-header {
	z-index: 2;
		// .social-header__list
		&__list {
			display: flex;
			column-gap: 19px;
			@media (max-width: 400px){
				column-gap: 15px;
			}
		}

		// .social-header__item

		&__item {
			
		}

		// .social-header__link

		&__link {
			width: 20px;
			height: 20px;
			transition: transform 0.3s;
			@media (any-hover: hover){
				&:hover{
					transform: scale(1.3);
				}
			}
			img {
				max-width: 100%;
				object-fit: contain;
			}
		}
}

// section Profesional //


.profesional {
	position: relative;
	padding-top: 90px;
	padding-bottom: 10px;
	@media (max-width: 767px){
		padding-top: 25px;
	}
	@keyframes roadTransforms{
		0%{
			
			transform: translate(0px, 0px)  scale(1.0);
		}
		50%{
			transform: translate(180px, 30px)  scale(1.8);
		}
		100% {
			transform: translate(0px, 0px)  scale(1.0);
		}
		}
		// .profesional__container
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 480px;
		height: 380px;
		border-radius: 50%;
		opacity: 0.3;
		background: linear-gradient(90deg, rgba(151, 0, 255, 0.60) 0%, rgba(87, 255, 28, 0.60) 36.9%, rgba(255, 0, 0, 0.60) 67.4%, rgba(0, 56, 255, 0.60) 100%);
		filter: blur(50px);
		animation-name: roadTransforms;
		animation-duration: 3s;
		animation-timing-function: ease;
		animation-iteration-count: infinite;
		animation-direction: reverse;
		transition: transform 3s;
		@media (max-width: 767px){
			display: none;
		}
		}
		&::before {
			top: 0;
			left: -150px;
		}
		&::after {
			bottom: 0;
			right: -136px;
		}
		
		&__container {
			position: relative;
			display: flex;
			column-gap: 25px;
			justify-content: space-between;
			@media (max-width: 888.98px){
				column-gap: 15px;
			}
			@media (max-width: 767px){
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				column-gap: 30px;
			}
			@media (max-width: 395px){
				column-gap: 10px;
			}
		}

		// .profesional__content

		&__content {
			padding-top: 30px;
			position: relative;
			z-index: 2;
			flex: 0 1 44.58%;
			> *:not(:last-child) {
				margin-bottom: 20px;
			}
			@media (max-width: 767px){
				flex: 0 1 100%;
				padding-top: 0;
			}
			@media (max-width: 370px){
				text-align: center;
			}
		}

		// .profesional__label

		&__label {
			display: inline-block;
			font-size: 18px;
			font-weight: 400;
			line-height: 0.9;
			letter-spacing: -0.36px;
			text-transform: uppercase;
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 120%;
				height: 1px;
				background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
				&:not(:last-child) {
				margin-bottom: 20px;
			}
			}
		}

		// .profesional__title

		&__title {
			font-size: 80px;
			// word-wrap: break-word;
			@media (max-width: 1200px){
				font-size: 55px;
			}
			@media (max-width: 888.98px){
				font-size: 45px;
			}
			@media (max-width: 767px){
				font-size: 32px;
			}
		}

		// .profesional__text

		&__text {
		
		}
		&__button {
			padding: 15px 60px;
			font-size: 20px;
			@media (max-width: 767px){
				padding: 8px 40px;
				font-size: 14px;
			}
		}
		// .profesional__body

		&__body {
			flex: 0 1 52.51%; 
			text-align: center;
			position: relative;
			@media (max-width: 767px){
				display: none;
			}
			&::before {
				content: "";
				position: absolute;
				top: 35px;
				left: 30px;
				width: 110px;
				height: 136px;
				background: url('../img/profesional/pr.svg') center / contain  no-repeat;
				animation-name: roadTrash;
				animation-duration: 8s;
				animation-timing-function: ease;
				animation-iteration-count: infinite;
				animation-direction: reverse;
				transition: perspective 5s, transform 5s;
			}
			&::after {
				content: "";
				position: absolute;
				top: 35px;
				right: 30px;
				width: 70px;
				height: 88px;
				background: url('../img/profesional/ae.svg') center / contain  no-repeat;
				animation-name: roadTrash;
				animation-duration: 5s;
				animation-timing-function: ease;
				animation-iteration-count: infinite;
				animation-direction: reverse;
				transition: perspective 5s, transform 5s;
			}
			@keyframes roadTrash{
				0%{
					perspective: 0px;
					transform: translate(0px, 0px) rotate(deg) scale(1.0);
				}
				50%{
					perspective: 400px;
					transform: translate(30px, 30px) rotate(360deg) scale(0.8);
				}
				100% {
					perspective: 0px;
					transform: translate(0px, 0px) rotate(deg) scale(1.0);
				}
				}
		}

		// .profesional__image

		&__image {
			width: 100%;
			img {
				max-width: 100%;
				object-fit: contain;
			}	
		}
		&__image-mobile {
			display: none;
			@media (max-width: 767px){
				display: block;
				flex-shrink: 0;
				width: 109px;
				height: 100%;
				img {
					max-width: 100%;
					object-fit: contain;
				
					
				}
			}
			@media (max-width: 370px){
				  display: none;
			}
		}
}
.title {
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
}
.text {
	font-weight: 400;
	line-height: 2.22;
	letter-spacing: -0.36px;
	text-transform: capitalize;
	font-size: 18px;
		@media (max-width: 767px){
			font-size: 14px;
		}
}
.button {
	display: inline-flex;
	font-family: Orbitron;
	font-weight: 900;
	line-height: 1;
	text-transform: uppercase;
	background: #6F00A9;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s, box-shadow 0.3s;
	@media (any-hover: hover){
		&:hover{
			@include backgroundAndboxshadovHover;
		}
	}
}



//-------------Section About---------------------- //

.about {
	padding-top: 120px;
	background: url('../img/about/about-section-bg.jpg') center / cover no-repeat;
	@media (max-width: 767px){
		padding-top: 30px;
		padding-bottom: 30px;  
		background: none;
	}
		// .about__container

		&__container {
			display: flex;
			flex-direction: column;
			row-gap: 60px;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			@media (max-width: 767px){
				flex-direction: column-reverse;
				row-gap: 30px;
			}
		}
		&__mobile-image {
			display: none;
			@media (max-width: 767px){
				display: block;
				flex: 1 0 177px;
				position: relative;
				&::after,
				&::before {
					content: "";
					position: absolute;
					flex-shrink: 0;
					width: 120px;
					height: 120px;
					border-radius: 50%;
					opacity: 0.3;
					background: linear-gradient(90deg, rgba(151, 0, 255, 0.60) 0%, rgba(87, 255, 28, 0.60) 36.9%, rgba(255, 0, 0, 0.60) 67.4%, rgba(0, 56, 255, 0.60) 100%);
					filter: blur(25px);
					animation-name: roadTransforms;
					animation-duration: 3s;
					animation-timing-function: ease;
					animation-iteration-count: infinite;
					animation-direction: reverse;
					transition: transform 3s;
				}
					&::after {
						bottom: 0;
						right: -73px;
					}
					&::before {
						top: 0;
						left: -108px;
				}
			
				img {
					max-width: 100%;
					object-fit: cover;
				}
			}
		}
		&__body {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			padding: 0 143px;
			row-gap: 20px;
			@media (max-width: 988.98px){
				padding: 0 70px;
			}
			@media (max-width: 767px){
				padding: 0 30px;
			}
		}
		// .about__title

		&__title {
			font-size: 60px;
			@media (max-width: 888.98px){
				font-size: 45px;
			}
			@media (max-width: 767px){
				font-size: 24px;
			}
			}
		&__decor {
				width: 40%;
				height: 1px;
				background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
				display: block;
				@media (max-width: 767px){
					width: 60%;
				}
		}
		// .about__text

		&__text {
		}

		// .about__skils

		&__skils {
			display: flex;
			@media (max-width: 767px){
				
			}
		}
}
.skils {
	display: flex;
	column-gap: 60px;
	animation-name: scrolling;
	animation-duration: 13s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	transition: transform 0.3s;
	@media (any-hover: hover){
		&:hover{
			animation-play-state: paused;
		}
	}
		// .skils__item

		&__item {
			font-family: Orbitron;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.25;
			text-transform: capitalize;
			position: relative;
			display: flex;
			align-items: center;
			column-gap: 60px;
			white-space: nowrap;
			@media (max-width: 767px){
				font-size: 14px;
			}
			&::after {
				content: "";
				width: 10px;
				border-radius: 50%;
				height: 10px;
				flex-shrink: 0;
				background: url('../img/ellipse.svg') 0 0 no-repeat;
			}
		}
}
@keyframes scrolling{

	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-120%);
	}

}


//--------------- section Edit -------------------------------//

.edit {
	padding-top: 200px;
	padding-bottom: 30px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background: url('../img/edit/edit-bg.png') 0 0 / cover no-repeat;
		top: 100px;
		right: 0;
		bottom: 0px;
		left: 100px;
		opacity: 0.05;
		@media (max-width: 767px){
			background: none;
		}
	}
		// .edit__container

		&__container {
		
		}

		// .edit__title

		&__title {
			font-size: 60px;
			display: inline-block;
			position: relative;
			&:not(last-child) {
					margin-bottom: 100px;
				}
			&::before {
				content: "";
				display: block;
				position: absolute;
				bottom: -20px;
				left: 0;
				width: 120%;
				height: 1px;
				background: linear-gradient(90deg, #F00 0%, #42FF00 48.9%, #2400FF 100%);
			}
			@media (max-width: 767px){
				font-size: 24px;
			}
		}

		// .edit__items

		&__items {
		}
}

.item-edit {
	position: relative;
	z-index: 1;
  @media (any-hover) {
    &__card:hover &__image {
      	opacity: 1;
		outline: 10px solid #9700FF;
    }
  }

		// .item-edit__body

		&__body {
			display: flex;
			column-gap: 40px;
			justify-content: space-between;
			overflow-y: hidden;
			overflow-x: scroll;
		}

		// .item-edit__card

		&__card {
			text-align: center;
			position: relative;
		}

		// .item-edit__image

		&__image {
			aspect-ratio: 360 / 360;
			object-fit: contain;
			opacity: 0.5;
			transition: opacity 0.3s;
			@media (any-hover: hover){
				&__card:hover &__image{
					opacity: 1;
				}
			}
			
// .item-edit__card.item-edit__image
			&:not(last-child) {
				margin-bottom: 40px;
			}
		}

		// .item-edit__button

		&__button {
			position: absolute;
			top: 120px;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 2;
			width: 100px;
			height: 100px;
			cursor: pointer;
		}

		// .item-edit__label

		&__label {
			font-size: 40px;
			font-weight: 700;
			text-transform: uppercase;
		}
}

